## [Start] Setting "lateCount" to default value of "0". **
$util.qr($context.args.input.put("lateCount", $util.defaultIfNull($ctx.args.input.lateCount, 0)))
## [End] Setting "lateCount" to default value of "0". **
## [Start] Setting "cyclesCompleted" to default value of "0". **
$util.qr($context.args.input.put("cyclesCompleted", $util.defaultIfNull($ctx.args.input.cyclesCompleted, 0)))
## [End] Setting "cyclesCompleted" to default value of "0". **
## [Start] Setting "notifySms" to default value of "false". **
$util.qr($context.args.input.put("notifySms", $util.defaultIfNull($ctx.args.input.notifySms, false)))
## [End] Setting "notifySms" to default value of "false". **
{}