## [Start] Setting "currency" to default value of "FCFA". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "FCFA")))
## [End] Setting "currency" to default value of "FCFA". **
## [Start] Setting "archived" to default value of "false". **
$util.qr($context.args.input.put("archived", $util.defaultIfNull($ctx.args.input.archived, false)))
## [End] Setting "archived" to default value of "false". **
{}